.range-control-container {
    display: inline-block;
    margin-right: 1em;
}

.range-control-container input[type=number] {
    width: 4em;
}

.range-control-container input[type=range] {
    vertical-align: middle;
    width: 10em;
    margin-left: 0.75em;
}

.inverted-range-direction input[type=range] {
    direction: rtl;
}